body{
    width: 100%;
    height: 100%;
    margin: 0;
}

main{
    margin: 0 auto; /*Deixar a divo centralizada*/
    width: 980px;
    position: relative;
}

ul{
    padding: 0px !important
}

.menu-principal{
    width: 100%;
    background-color: #252323;
    height: 60px;
}

.logo{
    padding-top: 2px;
    padding-left: 5px;
    width: 50%;
    float: left;
}

.redes-sociais{
    width: 20%;
    float: right;
    padding-top: 5px;;
}

.redes-sociais ul li{
    display: inline-block;   
    float: left;
    padding-left: 17px;
}

.col-100{
    width: 100%;
    float: left;
    position: relative;
}

.header{
    background-color: #FFFFFF;
    width: 100%;
    width: 980px;
    margin: 0 auto;
    padding-top: 16px;
    margin-bottom: 10px;
}

.menu-urls{
    height: 80px;
    border-bottom: 3px solid #EFEFEF;
}

.menu{
    width: 70%;
    float: left;
}

.menu ul li{
    display: inline-block;
    color: #8B8B8B;
    margin-left: 15px;
    height: 50px;
}

.menu ul li a{
    color: #8B8B8B;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
}

.menu ul li:hover{
    border-bottom: 3px solid #00bac6;
}


.menu ul li a:hover{
    color: #00bac6;
}

.busca{
    width: 30%;
    float: right;
    text-align: center;
}

.busca input{
    margin-top: 5px;
    height: 35px;
    width: 190px;
    padding-left: 30px;
    font-size: 14px;
    border: 1px solid #d6d6d6;
    border-radius: 5px;
}

button.slick-prev{
    font-size: 0px;
    border: none;
    width: 25px;
    height: 51px;
    background-color: transparent;
    background-image: url('../img/anterior.png');
    position: absolute;
    z-index: 9;
    top: 35%;
    left: 15%;
}

button.slick-next{
    font-size: 0px;
    border: none;
    width: 25px;
    height: 51px;
    background-color: transparent;
    background-image: url('../img/proximo.png');
    position: absolute;
    z-index: 9;
    top: 35%;
    right: 15%;
}

ul.slick-dots li button{
    display: inline-block;
    font-size: 0px;
    border: 3px solid #FFFFFF;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    float: left;
}

ul.slick-dots li.slick-active{
    background-color: #00bac6;

}
